// ========================================================================
//
// Name:            Table
// Description:     All table breakpoint specific styles
//
// Classes:         `tbl-table-*`
//                  `tbl-head`
//                  `tbl-body`
//                  `tbl-body *`
//
// ========================================================================


// Tables
// ========================================================================

@for $i from 1 through 90 {
  .tbl-column-#{$i} {
    .tbl-head {
      grid-template-columns: repeat($i, 1fr);
    }

    .tbl-body {
      &>div {
        grid-template-columns: repeat($i, 1fr);
      }
    }
  }
}

@each $name, $size in $breakpoints {

  @media only screen and (min-width: $size) {
    .tbl-table-#{$name} {

      .tbl-head {
        display: grid !important;
        grid-column-gap: 0;
        grid-row-gap: 0;
      }

      .tbl-body {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-column-gap: 0 !important;
        grid-row-gap: 0 !important;

        &>div {
          display: grid;
          border: 0 !important;
          border-radius: 0 !important;
          box-shadow: none !important;
          padding: 0 0 0 0 !important;

          &:nth-child(odd) {
            background-color: #F9F9F9;
          }

          &>div {
            height: calc(100% - 18px);
            display: flex;
            align-items: center;
          }

          img {
            max-width: $tbl-img-width;
            height: auto;
          }
        }

        &.tbl-divider {
          &>div>div {
            &:not(:first-child) {
              border-left: $tbl-border-style lighten($tbl-border-color, 20%);
            }
          }
        }
      }

      @if $name == s {

      }
      @else if $name == m {

      }
      @else if $name == l {

      }
      @else if $name == xl {

      }
    }
  }

}